{% extends 'base.html.twig' %}

{% block title %}Eleve index{% endblock %}

{% block body %}
    <h1>Eleve index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Email</th>
                <th>Roles</th>
                {# <th>Password</th> #}
                <th>Prenom</th>
                <th>Nom</th>
                <th>DateDeNaissance</th>
                <th>Sexe</th>
                <th>Adresse</th>
                <th>NumeroTelephone</th>
                <th>Photo</th>
                <th>IsVerified</th>
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
                <th>IdentificationNationale</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for eleve in eleves %}
            <tr>
                <td>{{ eleve.id }}</td>
                <td>{{ eleve.email }}</td>
                <td>{{ eleve.roles ? eleve.roles|json_encode : '' }}</td>
                {# <td>{{ eleve.password }}</td> #}
                <td>{{ eleve.prenom }}</td>
                <td>{{ eleve.nom }}</td>
                <td>{{ eleve.DateDeNaissance ? eleve.DateDeNaissance|date('Y-m-d') : '' }}</td>
                <td>{{ eleve.sexe }}</td>
                <td>{{ eleve.adresse }}</td>
                <td>{{ eleve.numeroTelephone }}</td>
                <td>{{ eleve.photo }}</td>
                <td>{{ eleve.isVerified ? 'Yes' : 'No' }}</td>
                <td>{{ eleve.createdAt ? eleve.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ eleve.updatedAt ? eleve.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ eleve.identificationNationale }}</td>
                <td>
                    <a href="{{ path('app_eleve_show', {'id': eleve.id}) }}">show</a>
                    <a href="{{ path('app_eleve_edit', {'id': eleve.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="16">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_eleve_new') }}">Create new</a>
{% endblock %}
