{% extends 'base.html.twig' %}

{% block title %}Eleve{% endblock %}

{% block body %}
    <h1>Eleve</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ eleve.id }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ eleve.email }}</td>
            </tr>
            <tr>
                <th>Roles</th>
                <td>{{ eleve.roles ? eleve.roles|json_encode : '' }}</td>
            </tr>
            {# <tr>
                <th>Password</th>
                <td>{{ eleve.password }}</td>
            </tr> #}
            <tr>
                <th>Prenom</th>
                <td>{{ eleve.prenom }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ eleve.nom }}</td>
            </tr>
            <tr>
                <th>DateDeNaissance</th>
                <td>{{ eleve.DateDeNaissance ? eleve.DateDeNaissance|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Sexe</th>
                <td>{{ eleve.sexe }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ eleve.adresse }}</td>
            </tr>
            <tr>
                <th>NumeroTelephone</th>
                <td>{{ eleve.numeroTelephone }}</td>
            </tr>
            <tr>
                <th>Photo</th>
                <td>{{ eleve.photo }}</td>
            </tr>
            <tr>
                <th>IsVerified</th>
                <td>{{ eleve.isVerified ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ eleve.createdAt ? eleve.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ eleve.updatedAt ? eleve.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>IdentificationNationale</th>
                <td>{{ eleve.identificationNationale }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_eleve_index') }}">back to list</a>

    <a href="{{ path('app_eleve_edit', {'id': eleve.id}) }}">edit</a>

    {{ include('eleve/_delete_form.html.twig') }}
{% endblock %}
