{# assigner_matiere.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Assigner une matière{% endblock %}

{% block body %}
    <h1>Assigner une matière à un enseignant</h1>

        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn">{{ button_label|default('Assigner') }}</button>
        {{ form_end(form) }}

    <a href="{{ path('app_enseignant_index') }}">Retour à la liste</a>
{% endblock %}