{% extends 'base.html.twig' %}

{% block title %}Matiere index{% endblock %}

{% block body %}
    <h1>Matiere index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Designation</th>
                <th>Coefficient</th>
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for matiere in matieres %}
            <tr>
                <td>{{ matiere.id }}</td>
                <td>{{ matiere.designation }}</td>
                <td>{{ matiere.coefficient }}</td>
                <td>{{ matiere.createdAt ? matiere.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ matiere.updatedAt ? matiere.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_matiere_show', {'id': matiere.id}) }}">show</a>
                    <a href="{{ path('app_matiere_edit', {'id': matiere.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_matiere_new') }}">Create new</a>
{% endblock %}
