{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}

    <div class="card">
            <div class="card-body">
              <h5 class="card-title">Liste des élèves</h5>
              <!-- Table with stripped rows -->
              <table class="table datatable">
                <thead>
                  <tr>
                    <th>
                      Nom complet
                    </th>
                    <th>Classe</th>
                    <th>sexe</th>
                    <th data-type="date" data-format="YYYY/DD/MM">Date d'inscription</th>
                    <th>Age</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                {% for eleve in eleves %}
                  <tr>
                    <td>{{eleve.prenom}} {{eleve.nom}}</td>
                    <td>9958</td>
                    <td>{{eleve.sexe}}</td>
                    <td>{{eleve.createdAt | date('d/m/yy')}}</td>
                    <td>{{date().diff(eleve.dateDeNaissance).y}}</td>
                    <td>
                        <a href="{{ path('edit_eleve', {'id': eleve.id}) }}" title="Modifier">
                            <i class="fas fa-edit"></i>
                        </a>
                        <a href="{{ path('delete_eleve', {'id': eleve.id}) }}" title="Supprimer">
                            <i class="fas fa-trash"></i>
                        </a>
                        <a href="{{ path('show_eleve', {'id': eleve.id}) }}" title="Voir plus">
                            <i class="fas fa-eye"></i>
                        </a>
                        <a href="{{ path('edit_eleve', {'id': eleve.id}) }}" title="Réinscrire">
                            <i class="fas fa-user-plus"></i>
                        </a>
                    </td>
                  </tr>{% endfor %}
                </tbody>
              </table>
              <!-- End Table with stripped rows -->

            </div>
          </div>

{% endblock %}
