{% extends 'base.html.twig' %}

{% block title %}Détail{% endblock %}

{% block body %}
			<div class="row">
					<div class="card col-md-4" style="width: 18rem;">
						<div class="card-body">
							<h5 class="card-title">{{ eleve.prenom }} {{ eleve.nom }}
							</h5>
							<p class="card-text">Date d'inscription:{{ eleve.createdAt | date('d/m/Y' ) }}</p>
							<p class="card-text">Date de naissance :{{ eleve.dateDeNaissance | date('d/m/Y' ) }}</p>
							<p class="card-text">Sexe :{{ eleve.sexe }}</p>
							<p class="card-text">Numero d'identification :{{ eleve.identificationNationale }}</p>
							<a onclick="return confirm('êtes vous sûr de suprimer')" href="{{path('delete_eleve',{'id':eleve.id})}}">
								<button type="button" class="btn btn-danger"><i class="fas fa-trash"></i></button>
							</a>

						</div>
					</div>
	</div>
{% endblock %}