<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <title>{% block title %}Dashboard - Admin{% endblock %}</title>
        <meta content="" name="description">
        <meta content="" name="keywords">
        <!-- Favicons -->
        <link href="{{asset('assets/img/logoMS-small.png')}}" rel="icon">
        <link href="{{asset('assets/img/logo-big.png')}}" rel="apple-touch-icon">        
        
        
        <!-- Google Fonts -->
        <link href="https://fonts.gstatic.com" rel="preconnect">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
        
        <!-- Vendor CSS Files -->
        <link href="{{asset('assets/vendor/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">
        <link href="{{asset('assets/vendor/bootstrap-icons/bootstrap-icons.css')}}" rel="stylesheet">
        <link href="{{asset('assets/vendor/boxicons/css/boxicons.min.css')}}" rel="stylesheet">
        <link href="{{asset('assets/vendor/quill/quill.snow.css')}}" rel="stylesheet">
        <link href="{{asset('assets/vendor/quill/quill.bubble.css')}}" rel="stylesheet">
        <link href="{{asset('assets/vendor/remixicon/remixicon.css')}}" rel="stylesheet">
        <link href="{{asset('assets/vendor/simple-datatables/style.css')}}" rel="stylesheet">

        <!-- Template Main CSS File -->
        <link href="{{asset('assets/css/style.css')}}" rel="stylesheet">

        <!-- =======================================================
        * Template Name: NiceAdmin
        * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
        * Updated: Apr 20 2024 with Bootstrap v5.3.3
        * Author: BootstrapMade.com
        * License: https://bootstrapmade.com/license/
        ======================================================== -->
        {% block stylesheets %}
        {% endblock %}


    </head>
    <body>
        <!-- ======= Header ======= -->
        <header id="header" class="header fixed-top d-flex align-items-center">

            <div class="d-flex align-items-center justify-content-between">
            <a href="index.html" class="logo d-flex align-items-center">
                <img src="{{asset('assets/img/logoMS-big.png')}}" alt="">
                <span class="d-none d-lg-block">ManSchool</span>
            </a>
            <i class="bi bi-list toggle-sidebar-btn"></i>
            </div><!-- End Logo -->

            <div class="search-bar">
            <form class="search-form d-flex align-items-center" method="POST" action="#">
                <input type="text" name="query" placeholder="Search" title="Rechercher">
                <button type="submit" title="Recherche"><i class="bi bi-search"></i></button>
            </form>
            </div><!-- End Search Bar -->

            <nav class="header-nav ms-auto">
                <ul class="d-flex align-items-center">

                    <li class="nav-item d-block d-lg-none">
                    <a class="nav-link nav-icon search-bar-toggle " href="#">
                        <i class="bi bi-search"></i>
                    </a>
                    </li><!-- End Search Icon-->

                    <li class="nav-item dropdown">

                    <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
                        <i class="bi bi-bell"></i>
                        <span class="badge bg-primary badge-number">4</span>
                    </a><!-- End Notification Icon -->

                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow notifications">
                        <li class="dropdown-header">
                            Vous avez des notifications
                            <a href="#"><span class="badge rounded-pill bg-primary p-2 ms-2">View all</span></a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>

                        <li class="notification-item">
                        <i class="bi bi-exclamation-circle text-warning"></i>
                            <div>
                                <h4>Titre 4</h4>
                                <p>Paragraphe 1</p>
                                <p>Paragraphe 2</p>
                            </div>
                        </li>

                        <li>
                            <hr class="dropdown-divider">
                        </li>

                        <li class="notification-item">
                            <i class="bi bi-x-circle text-danger"></i>
                            <div>
                                <h4>Titre 4</h4>
                                <p>Paragraphe 1</p>
                                <p>Paragraphe 2</p>
                            </div>
                        </li>

                        <li>
                            <hr class="dropdown-divider">
                        </li>

                        <li class="notification-item">
                            <i class="bi bi-check-circle text-success"></i>
                            <div>
                                <h4>Titre 4</h4>
                                <p>Paragraphe 1</p>
                                <p>Paragraphe 2</p>
                            </div>
                        </li>

                        <li>
                            <hr class="dropdown-divider">
                        </li>

                        <li class="notification-item">
                            <i class="bi bi-info-circle text-primary"></i>
                            <div>
                                <h4>Titre 4</h4>
                                <p>Paragraphe 1</p>
                                <p>Paragraphe 2</p>
                            </div>
                        </li>

                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li class="dropdown-footer">
                            <a href="#">Show all notifications</a>
                        </li>

                    </ul><!-- End Notification Dropdown Items -->

                    </li><!-- End Notification Nav -->

                    <li class="nav-item dropdown">

                    <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
                        <i class="bi bi-chat-left-text"></i>
                        <span class="badge bg-success badge-number">3</span>
                    </a><!-- End Messages Icon -->

                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow messages">
                        <li class="dropdown-header">
                            Ici apparaissent les messages
                            <a href="#">
                                <span class="badge rounded-pill bg-primary p-2 ms-2">Tout voir</span>
                            </a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>

                        <li class="message-item">
                            <a href="#">
                                <img src="assets/img/messages-1.jpg" alt="" class="rounded-circle">
                                <div>
                                    <h4>Titre 4</h4>
                                    <p>Paragraphe 1</p>
                                    <p>Paragraphe 2</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>

                        <li class="message-item">
                            <a href="#">
                                <img src="{{asset('assets/img/messages-2.jpg')}}" alt="" class="rounded-circle">
                                <div>
                                    <h4>Titre 4</h4>
                                    <p>Paragraphe 1</p>
                                    <p>Paragraphe 2</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>

                        <li class="message-item">
                            <a href="#">
                                <img src="{{asset('assets/img/messages-3.jpg')}}" alt="" class="rounded-circle">
                                <div>
                                    <h4>Titre 4</h4>
                                    <p>Paragraphe 1</p>
                                    <p>Paragraphe 2</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>

                        <li class="dropdown-footer">
                            <a href="#">Tous les messages</a>
                        </li>

                    </ul><!-- End Messages Dropdown Items -->

                    </li><!-- End Messages Nav -->

                    <li class="nav-item dropdown pe-3">

                    <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
                        <img src="{{asset('assets/img/profile-img.jpg')}}" alt="Profile" class="rounded-circle">
                        <span class="d-none d-md-block dropdown-toggle ps-2">Prenom et Nom</span>
                    </a><!-- End Profile Iamge Icon -->

                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
                        <li class="dropdown-header">
                            <h6>Prenom et nom </h6>
                            <span>Fonction</span>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>

                        <li>
                            <a class="dropdown-item d-flex align-items-center" href="Le lien vers le profil">
                                <i class="bi bi-person"></i>
                                <span>Le profile</span>
                            </a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>

                        <li>
                            <a class="dropdown-item d-flex align-items-center" href="Le lien vers le profil">
                                <i class="bi bi-gear"></i>
                                <span>Paramètre du compte</span>
                            </a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>

                        <li>
                            <a class="dropdown-item d-flex align-items-center" href="Lien vers la page FAQ">
                                <i class="bi bi-question-circle"></i>
                                <span>Besoin d'aide?</span>
                            </a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>

                        <li>
                            <a class="dropdown-item d-flex align-items-center" href="#">
                                <i class="bi bi-box-arrow-right"></i>
                                <span>                
                                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                                        <li><a class="dropdown-item" href="{{path('app_logout')}}">Logout</a></li>
                                    {% else %}
                                        <li><a class="dropdown-item" href="{{path('app_login')}}">Login</a></li>
                                    {% endif %}
                                    {% if is_granted('ROLE_ADMIN') %}
                                        <li><a class="dropdown-item" href="{{path('app_register')}}">Register</a></li>
                                    {% endif %}
                                        
                                </span>
                            </a>
                        </li>

                    </ul><!-- End Profile Dropdown Items -->
                    </li><!-- End Profile Nav -->

                </ul>
            </nav><!-- End Icons Navigation -->

        </header><!-- End Header -->

        <!-- ======= Sidebar ======= -->
        <aside id="sidebar" class="sidebar">

            <ul class="sidebar-nav" id="sidebar-nav">

                <li class="nav-item">
                    <a class="nav-link " href="{{path('app_manschool')}}"><!-- Ici on met le lien vers la page d'accueil -->
                        <i class="bi bi-grid"></i>
                        <span>Tableau de bord</span>
                    </a>
                </li><!-- End Dashboard Nav -->

                <li class="nav-item">
                    <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
                        <i class="bi bi-menu-button-wide"></i>
                        <span>Eleve</span>
                        <i class="bi bi-chevron-down ms-auto"></i>
                    </a>
                    <ul id="components-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                        <li>
                            <a href="{{path('app_eleve_index1')}}">
                                <i class="bi bi-circle"></i><span>Liste des élèves</span>
                            </a>
                        </li>
                        <li>
                            <a href="{{path('app_eleve_new')}}">
                            <i class="bi bi-circle"></i><span>Inscrire un élève</span>
                            </a>
                        </li>
                        <li>
                            <a href="{{path('app_eleve_index')}}">
                            <i class="bi bi-circle"></i><span>Tous les élèves</span>
                            </a>
                        </li>
                        <li>
                            <a href="{{('app_eleve_new')}}">
                            <i class="bi bi-circle"></i><span>Créer un élève</span>
                            </a>
                        </li>
                       <li>
                            <a href="components-buttons.html">
                            <i class="bi bi-circle"></i><span>Buttons</span>
                            </a>
                        </li>
                        <li>
                            <a href="components-cards.html">
                            <i class="bi bi-circle"></i><span>Cards</span>
                            </a>
                        </li>
                        {#<li>
                            <a href="components-carousel.html">
                            <i class="bi bi-circle"></i><span>Carousel</span>
                            </a>
                        </li>
                        <li>
                            <a href="components-list-group.html">
                            <i class="bi bi-circle"></i><span>List group</span>
                            </a>
                        </li>
                        <li>
                            <a href="components-modal.html">
                            <i class="bi bi-circle"></i><span>Modal</span>
                            </a>
                        </li>
                        <li>
                            <a href="components-tabs.html">
                            <i class="bi bi-circle"></i><span>Tabs</span>
                            </a>
                        </li>
                        <li>
                            <a href="components-pagination.html">
                            <i class="bi bi-circle"></i><span>Pagination</span>
                            </a>
                        </li>
                        <li>
                            <a href="components-progress.html">
                            <i class="bi bi-circle"></i><span>Progress</span>
                            </a>
                        </li>
                        <li>
                            <a href="components-spinners.html">
                            <i class="bi bi-circle"></i><span>Spinners</span>
                            </a>
                        </li>
                        <li>
                            <a href="components-tooltips.html">
                            <i class="bi bi-circle"></i><span>Tooltips</span>
                            </a>
                        </li> #}
                    </ul>
                </li><!-- End Components Nav -->

                <li class="nav-item">
                    <a class="nav-link collapsed" data-bs-target="#forms-nav" data-bs-toggle="collapse" href="#">
                        <i class="bi bi-journal-text"></i>
                        <span>Enseignant</span>
                        <i class="bi bi-chevron-down ms-auto"></i>
                    </a>
                    <ul id="forms-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                        <li>
                            <a href="{{path('app_enseignant_index')}}">
                            <i class="bi bi-circle"></i><span>Tous les enseignants</span>
                            </a>
                        </li>
                        <li>
                            <a href="{{path('app_enseignant_new')}}">
                            <i class="bi bi-circle"></i><span>Ajouter un enseignant</span>
                            </a>
                        </li>
                        <li>
                            <a href="{{('')}}">
                            <i class="bi bi-circle"></i><span></span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                            <i class="bi bi-circle"></i><span>Sous menu 4</span>
                            </a>
                        </li>
                    </ul>
                </li><!-- End Forms Nav -->

                <li class="nav-item">
                    <a class="nav-link collapsed" data-bs-target="#tables-nav" data-bs-toggle="collapse" href="#">
                        <i class="bi bi-layout-text-window-reverse"></i>
                        <span>Menu 4</span>
                        <i class="bi bi-chevron-down ms-auto"></i>
                    </a>
                    <ul id="tables-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                        <li>
                            <a href="#">
                                <i class="bi bi-circle"></i><span>Sous menu 1</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="bi bi-circle"></i><span>Sous menu 2</span>
                            </a>
                        </li>
                    </ul>
                </li><!-- End Tables Nav -->

                <li class="nav-item">
                    <a class="nav-link collapsed" data-bs-target="#charts-nav" data-bs-toggle="collapse" href="#">
                    <i class="bi bi-bar-chart"></i><span>Charts</span><i class="bi bi-chevron-down ms-auto"></i>
                    </a>
                    <ul id="charts-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                    <li>
                        <a href="charts-chartjs.html">
                        <i class="bi bi-circle"></i><span>Chart.js</span>
                        </a>
                    </li>
                    <li>
                        <a href="charts-apexcharts.html">
                        <i class="bi bi-circle"></i><span>ApexCharts</span>
                        </a>
                    </li>
                    <li>
                        <a href="charts-echarts.html">
                        <i class="bi bi-circle"></i><span>ECharts</span>
                        </a>
                    </li>
                    </ul>
                </li><!-- End Charts Nav -->

                {# <li class="nav-item">
                    <a class="nav-link collapsed" data-bs-target="#icons-nav" data-bs-toggle="collapse" href="#">
                    <i class="bi bi-gem"></i><span>Icons</span><i class="bi bi-chevron-down ms-auto"></i>
                    </a>
                    <ul id="icons-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                    <li>
                        <a href="icons-bootstrap.html">
                        <i class="bi bi-circle"></i><span>Bootstrap Icons</span>
                        </a>
                    </li>
                    <li>
                        <a href="icons-remix.html">
                        <i class="bi bi-circle"></i><span>Remix Icons</span>
                        </a>
                    </li>
                    <li>
                        <a href="icons-boxicons.html">
                        <i class="bi bi-circle"></i><span>Boxicons</span>
                        </a>
                    </li>
                    </ul>
                </li> #}<!-- End Icons Nav -->

                {# <li class="nav-heading">Pages</li> #}

                {# <li class="nav-item">
                    <a class="nav-link collapsed" href="users-profile.html">
                    <i class="bi bi-person"></i>
                    <span>Profile</span>
                    </a>
                </li> #}<!-- End Profile Page Nav -->

                {# <li class="nav-item">
                    <a class="nav-link collapsed" href="pages-faq.html">
                    <i class="bi bi-question-circle"></i>
                    <span>F.A.Q</span>
                    </a>
                </li> #}<!-- End F.A.Q Page Nav -->

                {# <li class="nav-item">
                    <a class="nav-link collapsed" href="pages-contact.html">
                    <i class="bi bi-envelope"></i>
                    <span>Contact</span>
                    </a>
                </li> #}<!-- End Contact Page Nav -->

                {# <li class="nav-item">
                    <a class="nav-link collapsed" href="pages-register.html">
                    <i class="bi bi-card-list"></i>
                    <span>Register</span>
                    </a>
                </li> #}<!-- End Register Page Nav -->

                {# <li class="nav-item">
                    <a class="nav-link collapsed" href="pages-login.html">
                    <i class="bi bi-box-arrow-in-right"></i>
                    <span>Login</span>
                    </a>
                </li> #}<!-- End Login Page Nav -->

                {# <li class="nav-item">
                    <a class="nav-link collapsed" href="pages-error-404.html">
                    <i class="bi bi-dash-circle"></i>
                    <span>Error 404</span>
                    </a>
                </li> #}<!-- End Error 404 Page Nav -->

                {# <li class="nav-item">
                    <a class="nav-link collapsed" href="pages-blank.html">
                    <i class="bi bi-file-earmark"></i>
                    <span>Blank</span>
                    </a>
                </li> #}<!-- End Blank Page Nav -->
            </ul>

        </aside><!-- End Sidebar-->

        <!-- ======= Mail ======= -->
        <main id="main" class="main">
            <div class="pagetitle">
                <h1>Tableau de bord</h1>
                <nav>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Accueil</a></li>
                        <li class="breadcrumb-item active">Tableau de bord</li>
                    </ol>
                </nav>
            </div><!-- End Page Title -->

            <section class="section dashboard">

                    <div class="success-messages">
                        {% for message in app.session.flashbag.get('success') %}
                            {{ message }}
                        {% endfor %}
                    </div>
                    <div class="warning-messages">
                        {% for message in app.session.flashbag.get('warning') %}
                            {{ message }}
                        {% endfor %}
                    </div>                    

                {% block body %}
                    <img src="{{asset('assets/img/logoMS-big.png')}}" alt=""></img>
                    <h3>Bienvenu sur la plateforme <em>ManSchool</em></h3>
                    <h4>De gestion de votre école</h4>
                {% endblock %}
            </section>

        </main><!-- End #main -->

          <!-- ======= Footer ======= -->
        <footer id="footer" class="footer">
            {% block footer %}
                <div class="copyright">
                    &copy; Copyright <strong><span>ManSchool</span></strong>. All Rights Reserved
                    </div>
                    <div class="credits">
                    <!-- All the links in the footer should remain intact. -->
                    <!-- You can delete the links only if you purchased the pro version. -->
                    <!-- Licensing information: https://bootstrapmade.com/license/ -->
                    <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/ -->
                    Designed by <a href="#">rainbowkay</a>
                </div>
            {% endblock %}
        </footer><!-- End Footer -->
        <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

        {% block javascripts %}
            <!-- Vendor JS Files -->
            <script src="{{asset('assets/vendor/apexcharts/apexcharts.min.js')}}"></script>
            <script src="{{asset('assets/vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
            <script src="{{asset('assets/vendor/chart.js/chart.umd.js')}}"></script>
            <script src="{{asset('assets/vendor/echarts/echarts.min.js')}}"></script>
            <script src="{{asset('assets/vendor/quill/quill.js')}}"></script>
            <script src="{{asset('assets/vendor/simple-datatables/simple-datatables.js')}}"></script>
            <script src="{{asset('assets/vendor/tinymce/tinymce.min.js')}}"></script>
            <script src="{{asset('assets/vendor/php-email-form/validate.js')}}"></script>

            <!-- Template Main JS File -->
            <script src="{{asset('assets/js/main.js')}}"></script>
        {% endblock %}
    </body>
</html>
