{# templates/admin/assign_classe.html.twig #}

{% extends 'base.html.twig' %}

{% block body %}
    <h1>Assigner des classes à un enseignant</h1>

    {{ form_start(form) }}
        {{ form_row(form.enseignant) }}
        {{ form_row(form.classes) }}
        <button type="submit">Assigner</button>
    {{ form_end(form) }}

    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}

    {% for message in app.flashes('error') %}
        <div class="alert alert-danger">
            {{ message }}
        </div>
    {% endfor %}
{% endblock %}
